<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Praveen"
        tools:targetApi="31">
        <activity
            android:name=".Modules.name"
            android:exported="false" />
        <activity
            android:name=".Modules.submit"
            android:exported="false" />
        <activity
            android:name=".Modules.submition"
            android:exported="false" />
        <activity
            android:name=".Modules.sign_up"
            android:exported="false" />
        <activity
            android:name=".Modules.sign_in"
            android:exported="false" />
        <activity
            android:name=".Modules.welcome_screen_03"
            android:exported="false" />
        <activity
            android:name=".Modules.welcome_screen_02"
            android:exported="false" />
        <activity
            android:name=".Modules.welcome_sceen_01"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".Modules.Week"
            android:exported="false" />
        <activity
            android:name=".Modules.profile"
            android:exported="false" />
        <activity
            android:name=".Modules.note"
            android:exported="false" />
        <activity
            android:name=".Modules.leader_board"
            android:exported="false" />
        <activity
            android:name=".Modules.home"
            android:exported="false" />
    </application>

</manifest>